<div class="row" ng-show="notifications.length > 0">
  <div class="span6 offset3">
    <div class="alert alert-info">
      <p ng-repeat="notification in notifications">
        {{notification}}
      </p>
    </div>
  </div>
</div>
<div class="row" ng-show="errors.length > 0">
  <div class="span6 offset3">
    <div class="alert alert-error">
      <p ng-repeat="error in errors">
        {{error}}
      </p>
    </div>
  </div>
</div>
<div class="row" ng-show="passwordChangeRequestDone && newPasswordSuccess">
  <div class="span6 offset3">
    <div class="alert alert-error">
      Beim Aendern deines Passworts ist etwas schief gelaufen!
    </div>
  </div>
</div>
<div class="row">
	<div class="span6 offset3">
		<form class="form-horizontal" ng-submit="authenticate(loginName, loginPassword)">
			<legend>Passwort aendern</legend>
			<div class="control-group">
				<label class="control-label" for="currentPassword">Aktuelles Passwort</label>
				<div class="controls">
					<input type="password" id="currentPassword" name="currentPassword" placeholder="Nutzername" ng-model="currentPassword" ng-change="validateNewPasswords(currentPassword, newPassword1, newPassword2)" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="newPassword1">Neues Passwort</label>
				<div class="controls">
					<input type="password" id="newPassword1" name="newPassword1" placeholder="Password" ng-model="newPassword1" ng-change="validateNewPasswords(currentPassword, newPassword1, newPassword2)" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="newPassword2">Neues Passwort</label>
				<div class="controls">
					<input type="password" id="newPassword2" name="newPassword2" placeholder="Password" ng-model="newPassword2" ng-change="validateNewPasswords(currentPassword, newPassword1, newPassword2)" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
                  <input type="submit" class="btn btn-primary" value="Aendern" ng-show="isNewPasswordValid && !isChangingPassword" ng-click="changePassword(newPassword1)" />
                  <img src="img/spinner.gif" ng-show="isChangingPassword" />
				</div>
			</div>
		</form>
	</div>
</div>


<div class="modal hide fade" id="passwordRecoveryModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 ng-hide="resetSuccessful">Password zuruecksetzen</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" ng-hide="resetSuccessful">
      <div class="control-group">
        <label class="control-label" for="username">Nutzername</label>
        <div class="controls">
          <input type="text" id="username" placeholder="Nutzername"  ng-model="username"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="email">Email-Adresse</label>
        <div class="controls">
          <input type="email" id="email" ng-model="email" placeholder="Email-Adresse" />
        </div>
      </div>
    </form>
    <div class="alert alert-info" ng-show="resetSuccessful">
      Dir wurde soeben ein neues Passwort zugeschickt. Mit dem neuen Passwort kannst du dich direkt einloggen. Sicherheitshalber solltest du es nach dem naechsten Einloggen direkt aendern.
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn" ng-click="closeModal()" ng-hide="isResetting || resetSuccessful">Abbrechen</a>
    <a class="btn btn-primary" ng-click="resetPassword(username, email)" ng-hide="isResetting || resetSuccessful">Passwort zuruecksetzen</a>
    <img src="img/spinner.gif" ng-show="isResetting" />
  </div>
</div>
