<div class="row" ng-hide="registrationSuccess">
	<div class="span6 offset3">
		<form class="form-horizontal"  ng-submit="register(registerName, registerPassword, registerPassword2, registerEmail)">
			<legend>Registrieren</legend>
			<div class="control-group">
				<label class="control-label" for="registerName">Name</label>
				<div class="controls">
					<input type="text" id="registerName" name="registerName" placeholder="Nutzername" ng-model="registerName">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="registerPassword">Password</label>
				<div class="controls">
					<input type="password" id="registerPassword" name="registerPassword" placeholder="Password" ng-model="registerPassword">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="registerPassword">Password (2x)</label>
				<div class="controls">
					<input type="password" id="registerPassword2" name="registerPassword2" placeholder="Password" ng-model="registerPassword2">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="registerEmail">E-Mail Addresse</label>
				<div class="controls">
					<input type="email" id="registerEmail" name="registerEmail" placeholder="E-Mail" ng-model="registerEmail">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="submit" class="btn btn-primary" value="Registrieren" ng-hide="isRegistering" />
                    <img src="img/spinner.gif" ng-show="isRegistering" />
				</div>
			</div>
		</form>
	</div>
</div>

<div class="row" ng-show="registrationSuccess">
  <div class="span12">
    <div class="alert alert-info">
      <strong>Alles klaro!</strong> 
      <br/><br/>
      Die Registrierung ist durchaus erfolgreich verlaufen. Wir haben dir eine Email mit einem Aktivierungslink zugeschickt. Bitte nutze den Link, um dein Zugangskonto zu aktivieren.
    </div> 
  </div>
</div>

